@import './Vars.scss';

body {
    margin: 0;
    font-family: $theme-font;
    color: $color;
}

#app {
    background: #f2f2f2;
    display: grid;
    grid-template: repeat(7, 93.5px)/repeat(3, 33.3%);
}